<ion-view view-title="Settings">
<ion-content has-header="true" overflow-scroll=true style=""> 
 <ul class="list">

  <li class="item item-toggle">
     Allow Push Notifications
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
  <li class="item item-toggle"  ng-click="change()">
     Alert When category is added
     <label class="toggle toggle-assertive">
       <input type="checkbox" ng-model="notifications">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
  <li class="item item-toggle">
     Donot Disturb
     <label class="toggle toggle-royal">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
</ul>
</ion-content>       
</ion-view>
